<ul>
    <li><a href="/samples/sample1">sample1</a></li>
    <li><a href="/samples/game-bricks">brick game</a></li>
    <li><a href="/samples/basicgame/step1">samples/basicgame/step1</a></li>
    <li><a href="/samples/basicgame/step2">samples/basicgame/step2</a></li>
    <li><a href="/samples/basicgame/step3">samples/basicgame/step3</a></li>
    <li><a href="/samples/basicgame/step4">samples/basicgame/step4</a></li>
    <li><a href="/samples/basicgame/step5">samples/basicgame/step5</a></li>
    <li><a href="/samples/basicgame/step6">samples/basicgame/step6</a></li>
    <li><a href="/samples/basicgame/step7">samples/basicgame/step7</a></li>
    <li><a href="/samples/basicgame/step8">samples/basicgame/step8</a></li>
    <li><a href="/samples/basicgame/step9">samples/basicgame/step9</a></li>
</ul>
<router-outlet></router-outlet>
